extends layout

block content
    div.grid#hardwareStatus
        include nav
        div.whole.hardwareStatus
            h1 Hardware status
            p#battery battery voltage:
            p#motion motion sensor:
            p#touch soap touch sensor:
            p#camera camera:
            p#storage storage usage: