extends layout

block content
    div.grid
        include nav
        div.whole
            h1 Hardware status
            p battery voltage
            p motion sensor
            p soap touch sensor
            p camera
            p storage usage