extends layout

block content
    div.whole
        p.moduleId Module ID:
            span= moduleId
    div.whole
        p.moduleTime Module clock:
            span(data-unixtime=serverTime)
            span.status In sync with your device
    div.whole
        a(href='/downloadPackages') Download data
    div.whole
        a(href='/hardwareStatus') Hardware status
    div.whole
        button#closeSession Close session